@using EntityLayer.Concreate
@model List<Reservation>



@{
    ViewData["Title"] = "MyOldReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Geçmiş Rezervasyonlar</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-secondary text-sm font-weight-bolder opacity-7">#</th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Lokasyon</th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Kapasite</th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Tarih</th>
                                    <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Durum</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <p class="text-center font-weight-bold mb-0">@item.ReservationID</p>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.Destination.City</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.PersonCount</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.ReservationDate</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <a href="#" class="badge badge-sm bg-gradient-danger">@item.Status</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



