@model EntityLayer.Concreate.Guide

@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 ">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Yeni Rehber Sayfası</h6>
                </div>
                <div class="card-body p-3">
                    <form method="post" enctype="multipart/form-data" class="signin-form">
                        <div class="form-input" style="padding-left: 10px;padding-right: 10px;">
                            @Html.Label("Ad Soyad")
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-input" style="padding-left: 10px;padding-right: 10px;">
                            @Html.Label("Bölge")
                            <input type="text" asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div> 
                        <br />
                        <div class="form-input" style="padding-left: 10px;padding-right: 10px;">
                            @Html.Label("Görsel Url")
                            <input type="text" asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-input" style="padding-left: 10px;padding-right: 10px;">
                            @Html.Label("Twitter Url")
                            <input type="text" asp-for="TwitterUrl" class="form-control" />
                        </div>
                        <br />
                        <div class="form-input" style="padding-left: 10px;padding-right: 10px;">
                            @Html.Label("Instagram Url")
                            <input type="text" asp-for="InstagramUrl" class="form-control" />
                        </div>
                        <br />
                        <button class="btn btn-success">Oluştur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
